//- Job Dating
mj-section(background-color='#EDF2F7')
    mj-column(width='25%')
        mj-image(padding='0' border='none' width='480px' src='https://i.ibb.co/gCMvQ1J/01job-Dating.jpg' alt='Affiche du Job Dating du 17 avril 2025')/
    mj-column(width='75%')
        mj-spacer(height="12px")
        mj-text(padding='0 25px' align='left' mj-class="T+2 cA+2" text-transform='uppercase') Job Dating Alternance
        mj-text(padding='0 25px' align='left' mj-class="T+1 cA+1") Saisissez votre chance le 17 avril 2025&nbsp;!
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") #[span(style="font-weight:700;color:#2D3748;") Ecosup Assurance] organise un événement unique dans la région&nbsp;: un #[span(style="font-weight:700;color:#2D3748;") Job Dating spécial Banque Assurance&nbsp;!]
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") Venez rencontrer de 14h à 17h30 les #[span(style="font-weight:700;color:#2D3748;") grands acteurs de l'Assurance et de la Banque] et décrocher votre alternance.
        mj-image(padding="5px 25px" border="none" fluid-on-mobile="true" width="600px" src="https://i.ibb.co/fd6Z9fzt/logo-Job-Dating012025-1.jpg" alt="Entreprises participant au job dating du 17 avril 2025")/
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") Bénéficiez de #[span(style="font-weight:700;color:#2D3748;") conseils personnalisés] de nos partenaires, dont #[span(style="font-weight:700;color:#2D3748") Grafton Recruitement], spécialiste RH du secteur financier. Rencontrez l'#[span(style="font-weight:700;color:#2D3748;") OPCO Atlas] : acteur indispensable de l'alternance. 
        mj-image(padding="5px 25px" border="none" fluid-on-mobile="true" width="250px" src="https://i.ibb.co/FL0ng96W/Help-Job-Dating032025.jpg" alt="logo Entreprises qui accompagneront les participants au job Dating du 17 avril 2025")/
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") Avec le #[span(style="font-weight:700;color:#2D3748;") soutien de la MEL et du Département du Nord], cet événement est une opportunité en or pour #[span(style="font-weight:700;color:#2D3748;") lancer votre carrière&nbsp;!]