//- Interviews IA
mj-section(background-color='#EDF2F7')
    mj-column(width='25%')
        mj-image(padding='0' border='none' width='480px' src='https://i.ibb.co/m9c6NqR/nathalie-Dore.jpg' alt='Nathalie DORÉ, directrice Impact et Innovation du bancassureur BNP Paribas Cardif')/
    mj-column(width='75%')
        mj-spacer(height="12px")
        mj-text(padding='0 25px' align='left' mj-class="T+2 cA+2" text-transform='uppercase') Job Dating Alternance
        mj-text(padding='0 25px' align='left' mj-class="T+1 cA+1") Saisissez votre chance le 17 avril 2025&nbsp;!
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") #[span(style="font-weight:700;color:#2D3748;") Ecosup Assurance] organise un événement unique dans la région&nbsp;: un #[span(style="font-weight:700;color:#2D3748;") Job Dating spécial Banque Assurance&nbsp;!]
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") Venez rencontrer de 14h à 17h30 les #[span(style="font-weight:700;color:#2D3748;") grands acteurs du secteur] (Caisse d'Épargne, Crédit Agricole Sofinco, SMA BTP, Malakoff Humanis, Concilian, SwissLife, AXA, ...) et décrocher votre alternance.
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") Bénéficiez de #[span(style="font-weight:700;color:#2D3748;") conseils personnalisés] de nos partenaires, dont #[span(style="font-weight:700;color:#2D3748") Grafton Recruitement], spécialiste RH du secteur financier. Rencontrez l'#[span(style="font-weight:700;color:#2D3748;") OPCO Atlas] : acteur indispensable de l'alternance. 
        mj-text(padding='5px 25px' mj-class="T+0 cT-0") Avec le #[span(style="font-weight:700;color:#2D3748;") soutien de la MEL et du Département du Nord], cet événement est une opportunité en or pour #[span(style="font-weight:700;color:#2D3748;") lancer votre carrière&nbsp;!]
        //-mj-spacer(height="10px")
        //-mj-text(padding="5px 25px" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://ecosup-assurance.fr/place-ia-banque-assurance' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:700;' target='_blank') Lire la suite...]