mj-section(background-color='#EDF2F7')
    mj-column(width="25%")
        mj-image(padding='0px' width="480px" border='none' src='https://i.ibb.co/f1fmywm/antoine-Hochard.jpg' alt='Affiche du salon du Lycéen et de l\'Étudiant Grand Palais Lille')/
    mj-column(width='75%')
        mj-spacer(height="12px")
        mj-text(padding="0px 25px" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Évènement
        mj-text(padding="0px 25px" align='left' mj-class="T+1 cA+1") Le salon de l'Étudiant&nbsp;: un moment fort pour Ecosup Assurance&nbsp;!
        mj-text(padding="5px 25px" mj-class="T+0 cT-0") Notre participation au #[span(style="font-weight:700;color:#2d3748;") salon du Lycéen et de l'Étudiant] à Lille Grand Palais les 16, 17 et 18 janvier a été un véritable succès.
        mj-text(padding="5px 25px" mj-class="T+0 cT-0") De nombreux jeunes ont montré un #[span(style="font-weight:700;color:#2d3748;") vif intérêt pour nos formations] et ont pu échanger avec nos équipes. Nous avons pu leur présenter nos formations, répondre à leurs questions et les accompagner dans leur projet d'orientation.
        mj-text(padding="5px 25px" mj-class="T+0 cT-0") Merci à tous les visiteurs et un immense #[span(style="font-weight:700;color:#2d3748;") merci à nos nombreux étudiants ambassadeurs]&nbsp;!