mj-section(background-color='#ffffff')
    mj-column(width="25%")
        mj-image(padding='0px' width="480px" border='none' src='https://i.ibb.co/32yz1W1/01-Trading-Game012025.jpg' alt='Trading Game Ecosup Assurance')/
    mj-column(width='75%')
        mj-spacer(height="12px")
        mj-text(padding="0 25px" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Trading Game
        mj-text(padding="0 25px" align='left' mj-class="T+1 cA+1") Vous avez une âme de gestionnaire de fonds, les marchés boursiers vous fascinent&nbsp;?
        mj-text(padding="5px 25px" mj-class="cT-0 T+0") Alors bienvenue à notre #[span(style="font-weight:700;color:#2D3748;") concours de trading simulé], une opportunité unique pour nos futurs étudiants de mettre à l'épreuve #[span(style="font-weight:700;color:#2D3748;") leurs compétences en investissement&nbsp;!]
        mj-image(padding="5px 25px" border="none" fluid-on-mobile="true" src="https://i.ibb.co/8nrKz1cD/02-Trading-Game012025.jpg" alt="Fluctuation de la Bourse")
        mj-text(padding="5px 25px" mj-class="cT-0 T+0") Venez vous inscrire à nos Journées Portes Ouvertes afin de participer à ce concours du #[a(style="text-decoration:none;color:#45546e;" href="#") 25/01/2025] au #[a(style="text-decoration:none;color:#45546e;" href="#") 25/02/2025]. #[span(style="font-weight:700;color:#2D3748;") De nombreux lots à gagner&nbsp;!]
        mj-text(padding="5px 25px" mj-class="cT-0 T+0") #[span(style="font-weight:700;color:#2D3748;") Le but du concours est simple&nbsp;:] Vous disposez d'un #[span(style="font-weight:700;color:#2D3748;") capital fictif de 100 000 euros] et l'objectif est de créer un portefeuille d'actions fictif et de réaliser le meilleur rendement sur une période d'un mois.
        mj-text(padding="5px 25px" mj-class="cT-0 T+0") Les participants utiliseront une #[span(style="font-weight:700;color:#2D3748;") plateforme de trading virtuelle ABC Bourse] pour acheter et vendre des actions réelles en temps réel mais virtuellement.